# Notebook for Homework 1

In [33]:
# Preliminary Codes -- DO NOT CHANGE ANYTHING IN THIS SECTION
import random, pickle
import numpy as np
xData = [100*random.random() for i in range(20)]
number = 5+random.randint(8,20)
fruit = 'apples'
day = 'Saturday'
string_4 = 'An alacritous abalone accelerates along an alarming aquatic ascent.'
string_5 = 'A                       large space was here.'
string_6 = 'ATCGTGCATGCTGAGTGGCGAGCGGCGGCCGTACGCTGTTACTTAAAACGTAGCTGTAAAAAAC\
            GCTGCTGATGCTGTGCATGTGACTAGCTGCATGTGTGACTGACTGCTGACGTACTGTACGTACG\
            ATGGTTCGTGCGATGCGCTTGACGTGTCGTAGTGCATGCTGCTAGCTGATCGATGTGTCGAGTC'
nDigits = 6
nPower = 3
List10 = ['apples','bananas','pears','pears','blueberries','apples','strawberries']
Student_IDs = [1,2,3,4,5]
Student_names = ['Jim','John','Jenna','Jamal','Jaden']
List12 = [1,2,3,4,5,6,7,8]

q1 = 'xxx'
q2 = 'XXX'
q3 = 'XXX'
q4 = 123
q5 = 'XXX'
q6 = 123
q7 = 'XXX'
q8 = 1.23
q8 = 'xxx'
q9 = 'xxx'
q10 = List10
q11 = 'xxx'
q12 = [1,2,3,4,5,6,7,8]

fnDat = 'Hwk1Data.pkl'
dataDict = {'xData':xData,'number':number,'fruit':fruit,'day':day,'string_4':string_4,
    'string_5':string_5,'string_6':string_6,'nDigits':nDigits,'nPower':nPower,
    'Student_IDs':Student_IDs,'Student_names':Student_names,'List10':List10,'List12':List12}
with open(fnDat, 'wb') as file:
    pickle.dump(dataDict, file)

def saveResults():
    fn = 'Hwk1Answers.pkl'
    answerDict = {'q1':q1,'q2':q2,'q3':q3,'q4':q4,'q5':q5,'q6':q6,'q7':q7,'q8':q8,
                 'q9':q9,'q10':q10,'q11':q11,'q12':q12}
    with open(fn, 'wb') as file:
        pickle.dump(answerDict, file)

    #Read and print
    with open(fn, 'rb') as file:
        loaded_dict = pickle.load(file)

    print("Your answers so far are:")
    print(loaded_dict)

## Problem Set 1 - Basic Arithmetic and String Manipulation

In [34]:
# Q1 - Concatenate the following strings with a space inbetween them (do not change the name).
string_1 = 'Hello my name is'
name = 'Jorge'
q1  = string_1+' '+name

saveResults()

Your answers so far are:
{'q1': 'Hello my name is Jorge', 'q2': 'XXX', 'q3': 'XXX', 'q4': 123, 'q5': 'XXX', 'q6': 123, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [35]:
# Q2 = Convert the following string to uppercase
string_2 = 'i would like to be uppercase'
q2 = str.upper(string_2)

saveResults()

Your answers so far are:
{'q1': 'Hello my name is Jorge', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'XXX', 'q4': 123, 'q5': 'XXX', 'q6': 123, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [36]:
# Q3 - use string formatting to construct the following string:
#. "I bought [number] [fruit] on [day]." where:
#     [number] is replaced with the number value of the variable "number",
#     [fruit] is replaced with the string value of the variable "fruit",
#     [day] is replaced with the string value of the variable "day",
print(number)
print(fruit)
print(day)
q3 = "I bought "+str(number)+" "+str(fruit)+" on "+str(day)

saveResults()

21
apples
Saturday
Your answers so far are:
{'q1': 'Hello my name is Jorge', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 21 apples on Saturday', 'q4': 123, 'q5': 'XXX', 'q6': 123, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [37]:
# Q4 - count the number of a's in the string "string_4"
print(string_4)
q4 = str.count(string_4,'a')

saveResults()

An alacritous abalone accelerates along an alarming aquatic ascent.
Your answers so far are:
{'q1': 'Hello my name is Jorge', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 21 apples on Saturday', 'q4': 13, 'q5': 'XXX', 'q6': 123, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [38]:
# Q5 - Strip "string_5" to remove all spaces and return the result as 'q5'
print(string_5)
q5 = str.replace(string_5," ","")

saveResults()

A                       large space was here.
Your answers so far are:
{'q1': 'Hello my name is Jorge', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 21 apples on Saturday', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 123, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [39]:
# Q6 - How long is the string "string_6"?
q6 = len(string_6)

saveResults()

Your answers so far are:
{'q1': 'Hello my name is Jorge', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 21 apples on Saturday', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': 'XXX', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [40]:
# Q7 - Write a STRING that contains the value of pi^[nPower].
# Use exponent form to the 3rd decimal point (e.g., 2.500e+00).
pi = np.pi
print(pi)
print(nDigits)
print(nPower)
q7 = str('{:.3e}'.format(pow(pi,nPower)))

saveResults()

3.141592653589793
6
3
Your answers so far are:
{'q1': 'Hello my name is Jorge', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 21 apples on Saturday', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.101e+01', 'q8': 'xxx', 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

## Problem Set 2 - Iterables, Slicing, and Sets

In [41]:
# Q8 - Consider the numbers in the list "xData", and compute their average.
print(xData)
q8 = np.mean(xData)  # Change this to produce the average of the numbers in 'xData'

saveResults()

[3.327583901571163, 88.43716481602767, 76.41631720839843, 92.83009872749555, 92.60791650281601, 31.017376809990594, 88.13560773235724, 36.56788989971682, 11.69670944764606, 52.51762605462362, 78.7814886473075, 51.31034300482613, 74.58282651438563, 29.698394126657913, 84.3057063554191, 80.42007813851374, 13.284010878884157, 3.4425858995145497, 74.48365119671611, 21.08777435622593]
Your answers so far are:
{'q1': 'Hello my name is Jorge', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 21 apples on Saturday', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.101e+01', 'q8': 54.24755751095471, 'q9': 'xxx', 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [42]:
# Q9 - What's the last entry in the list "xData".  Get this by slicing the list.
print(xData)
q9 = xData[-1]

saveResults()

[3.327583901571163, 88.43716481602767, 76.41631720839843, 92.83009872749555, 92.60791650281601, 31.017376809990594, 88.13560773235724, 36.56788989971682, 11.69670944764606, 52.51762605462362, 78.7814886473075, 51.31034300482613, 74.58282651438563, 29.698394126657913, 84.3057063554191, 80.42007813851374, 13.284010878884157, 3.4425858995145497, 74.48365119671611, 21.08777435622593]
Your answers so far are:
{'q1': 'Hello my name is Jorge', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 21 apples on Saturday', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.101e+01', 'q8': 54.24755751095471, 'q9': 21.08777435622593, 'q10': ['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [43]:
# Q10 - Convert between lists and sets to remove duplicate entries from the list "List10"
print(List10)
q10 = list(np.unique(List10))

saveResults()

['apples', 'bananas', 'pears', 'pears', 'blueberries', 'apples', 'strawberries']
Your answers so far are:
{'q1': 'Hello my name is Jorge', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 21 apples on Saturday', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.101e+01', 'q8': 54.24755751095471, 'q9': 21.08777435622593, 'q10': ['apples', 'bananas', 'blueberries', 'pears', 'strawberries'], 'q11': 'xxx', 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [44]:
# Q11 - Combine the lists 'Student_IDs' and 'Student_names' into a dictionary keyed by the IDs.
# i.e. Create a dictionary with pairs of { ID : student name }
print(Student_IDs)
print(Student_names)
q11 = dict(zip(Student_IDs,Student_names))

saveResults()

[1, 2, 3, 4, 5]
['Jim', 'John', 'Jenna', 'Jamal', 'Jaden']
Your answers so far are:
{'q1': 'Hello my name is Jorge', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 21 apples on Saturday', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.101e+01', 'q8': 54.24755751095471, 'q9': 21.08777435622593, 'q10': ['apples', 'bananas', 'blueberries', 'pears', 'strawberries'], 'q11': {1: 'Jim', 2: 'John', 3: 'Jenna', 4: 'Jamal', 5: 'Jaden'}, 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}

In [45]:
# Q12 - Slice to get every other entry in the list 'List12'
print(List12)
q12 = List12[0:len(List12):1]

saveResults()

[1, 2, 3, 4, 5, 6, 7, 8]
Your answers so far are:
{'q1': 'Hello my name is Jorge', 'q2': 'I WOULD LIKE TO BE UPPERCASE', 'q3': 'I bought 21 apples on Saturday', 'q4': 13, 'q5': 'Alargespacewashere.', 'q6': 216, 'q7': '3.101e+01', 'q8': 54.24755751095471, 'q9': 21.08777435622593, 'q10': ['apples', 'bananas', 'blueberries', 'pears', 'strawberries'], 'q11': {1: 'Jim', 2: 'John', 3: 'Jenna', 4: 'Jamal', 5: 'Jaden'}, 'q12': [1, 2, 3, 4, 5, 6, 7, 8]}